[Unit]
Description=Bird Feeder Recorder
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/birdfeeder
ExecStart=/usr/bin/python3 /home/pi/birdfeeder/recorder.py
Restart=always
RestartSec=5
Nice=5

[Install]
WantedBy=multi-user.target
